.grid-container {
    /* width: 800px;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 200px;

    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(3, 200px); */
    /* grid-template-columns: repeat(3, min-content); */
    /* grid-template-columns: repeat(3, max-content); */
    grid-template-columns: repeat(4, 300px);
    /* grid-template-columns: repeat(3, minmax(200px, 400px)); */
    grid-template-rows: repeat(2, 150px);

    /* grid-auto-columns: auto; */
    grid-auto-rows: minmax(150px, auto);

    justify-content: center;
    /* align-content: ; */
    /*  */
    justify-items: center;
    align-items: center;
}

.grid-element {
    font-size: 30px;
    font-weight: bold;
    background-color: #b6b1d6;

    border: 1px solid #000;
}

.grid-element--last {
    /* grid-column: span 3; */
    align-self: end;
    justify-self: end;

    /* width: calc(100% / 3); */
    /* height: 100%; */
}
