.page-title {
    text-align: center;

    position: relative;
    /* width: 600px; */
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
}

.page-title::after {
    content: "after"; /* none, normal, initial */
    order: -1;
    margin-top: 40px;
    /* margin-bottom: 40px; */
}
.page-title::before {
    content: "before";
    order: 1;
    margin-top: 40px;
    /* margin-bottom: 40px; */
}

.page-title::after,
.page-title::before {
    border: 2px solid #000;
    color: crimson;
    align-self: flex-end;
}

.list-item > p {
    position: relative;
    margin-top: 30px;
}

.list-item > p::after {
    content: "<<>>";
    text-align: center;

    position: absolute;
    bottom: 100%;
    left: calc(50% - 19px);

    width: 80px;
    height: 15px;

    background-color: magenta;
}

.list-item > p:nth-child(even) {
    font-size: 30px;
}

.list-item > :nth-of-type(2n + 1) {
    font-weight: 700;
}

/* 
:first-child{}
:first-of-type{}
:last-child{}
:last-of-type{}
:nth-last-of-type(){}
:nth-last-child(){}
*/

/* :visited */

.link {
    color: maroon;
}

.link:hover,
.link:active,
.link:focus {
    color: mediumspringgreen;
    font-size: 50px;
}
