.page__title {
    text-align: center;
    padding: 20px;

    border: 10px groove #9932cc;

    color: brown;
    color: #a52a2a;
    color: #a52a2aff;
    color: hsl(0, 59%, 41%);
    color: rgb(165, 42, 42);
    color: rgba(165, 42, 42, 1);

    box-shadow: 0px 0px 10px 10px crimson;
    text-shadow: 2px 5px 2px plum;

    background-image: linear-gradient(90deg, #f00 0%, #ff0 80%);
    background-image: url(../img/macaw.svg), url(../img/macaw.svg),
        repeating-linear-gradient(45deg, #f00 50px, #ff0 80px);

    background-size: 50px, auto;
    background-position: bottom 30px left 40px, center;
    background-repeat: no-repeat;
    transition: background-position 5s;
}

.page__title:hover {
    background-position: bottom 30px right 40px, center;
}

.macaw-img {
    position: relative;
    left: 0;
    transition: left 5s;
}

.macaw-img:hover {
    left: 300px;
}

.macaw-svg path,
.macaw-img {
    /* fill: khaki !important; */
}

.macaw-svg:hover .top-cluve {
    fill: crimson;
}
.macaw-svg {
    border: 1px solid #000;
}
.macaw-svg path {
    stroke-width: 1px;
    stroke: #000;
    stroke-dasharray: 200px;
    stroke-dashoffset: 2000px;

    transition: stroke-dasharray 2s, stroke-dashoffset 2s;
}
.macaw-svg:hover path {
    stroke-dasharray: initial;
    stroke-dashoffset: initial;
}
