.form {
    width: 400px;
    margin: 40px auto 0;
    padding-bottom: 120px;
}

.form-label {
    display: block;
}

.form-element {
    border: 3px solid darkblue;
    border-radius: 6px;
    background-color: cornsilk;
    padding: 4px 7px;
    margin: 10px 15px;
    font-family: sans-serif;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: darkmagenta;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: darkmagenta;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: darkmagenta;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: darkmagenta;
}

.form-element--color {
    display: none;
}

fieldset {
    margin: 20px;
}

input[type="checkbox"] {
    accent-color: red;
    border-radius: 20px;
    background-color: deepskyblue;
}
